@model FinanceTracker.Web.Models.PayorDisplayModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Delete Payor";
}

<h1>@ViewData["Title"]</h1>

@if (Model is null)
{
    <h3>Record is not found...</h3>
    <a class="btn btn-info" asp-action="Index">Back</a>
}
else
{
    <h3>Are you sure you wish to delete @Model.FirstName @Model.LastName?</h3>

    <form asp-action="Delete">
        <a asp-action="Index" class="btn btn-info">BACK</a>
        <button class="btn btn-danger" type="submit">DELETE</button>
    </form>
}
