@model FinanceTracker.Web.Models.PayorDisplayModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["title"] = "Payor Details";
}

<h1 class="mb-3">@ViewData["title"]</h1>

@if(Model is null)
{
    <h3>No Record Found...</h3>
    <a asp-action="Index" class="btn btn-info">Back</a>
}
else
{
    <form method="post">

        <div asp-validation-summary="ModelOnly"></div>

        <input hidden asp-for="Id"></input>

        <div class="mb-3">
            <label class="form-label" asp-for="FirstName"></label>
            <input class="form-control" asp-for="FirstName"></input>
            <span asp-validation-for="FirstName"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="LastName"></label>
            <input class="form-control" asp-for="LastName"></input>
            <span asp-validation-for="LastName"></span>
        </div>

        <div class="mb-3">
            <a asp-action="Index" class="btn btn-info">BACK</a>
            <button class="btn btn-success" type="submit" asp-action="Update">UPDATE</button>
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">DELETE</a>
        </div>

    </form>
}

