@using System.Security.Claims
@model FinanceTracker.Web.Models.AccountDisplayModel

@{
    ViewData["Title"] = "Create A New Account";
}

<h1 class="mb-3">@ViewData["Title"]</h1>

<form method="Post" asp-action="Create">

    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <input hidden asp-for="HolderId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Title"></label>
        <input class="form-control" asp-for="Title"/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Description"></label>
        <input class="form-control" asp-for="Description"/>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Type"></label>
        <input class="form-control" asp-for="Type" />
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Balance"></label>
        <input class="form-control" asp-for="Balance" asp-format="{0:C}"/>
        <span asp-validation-for="Balance" class="text-danger"></span>
    </div>

    <div>
        <a class="btn btn-info" asp-action="Index">BACK</a>
        <button class="btn btn-success" type="submit">SUBMIT</button>
    </div>
    
</form>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}