@model FinanceTracker.Web.Models.FullAccountViewModel

@{
    ViewData["Title"] = "Account Details";
}

<h1 class="mb-3">@ViewData["Title"]</h1>

@if(Model is null)
{
    <h3>No record found...</h3>
    <a class="btn btn-info" asp-action="Index"></a>
}
else
{
    <form method="Post" asp-action="Update">

        <div asp-validation-summary="ModelOnly"></div>

        <input hidden asp-for="Id" />

        <div class="mb-3">
            <label class="form-label" asp-for="Title"></label>
            <input class="form-control" asp-for="Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="Description"></label>
            <input class="form-control" asp-for="Description" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="Type"></label>
            <input class="form-control" asp-for="Type" />
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="Balance"></label>
            <input class="form-control" asp-for="Balance" asp-format="{0:C}" />
            <span asp-validation-for="Balance" class="text-danger"></span>
        </div>

        <a class="btn btn-info" asp-action="Index">BACK</a>
        <input type="submit" class="btn btn-success" value="UPDATE" />
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">DELETE</a>
    </form>   
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}