@model FinanceTracker.Web.Models.TransactionViewModel

@if(Model is null)
{
    <h3>No record found...</h3>
    <a class="btn btn-info" asp-action="Index"></a>
}
else
{
    <form method="Post" asp-action="Update">

        <div asp-validation-summary="ModelOnly"></div>

        <input hidden asp-for="Id" />

        <div class="mb-3">
            <label asp-for="AccountId" class="form-label"></label>
            <select asp-for="AccountId" class="form-select" asp-items="@ViewBag.AccountSelectList"></select>
            <span asp-validation-for="AccountId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="PayeeId" class="form-label"></label>
            <select asp-for="PayeeId" class="form-select" asp-items="@ViewBag.ProviderSelectList"></select>
            <span asp-validation-for="PayeeId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Reason" class="form-label"></label>
            <input asp-for="Reason" class="form-select" />
            <span asp-validation-for="Reason" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Type" class="form-label"></label>
            <select asp-for="Type" class="form-select" asp-items="@ViewBag.TransactionTypeList"></select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="AmountDue" class="form-label"></label>
            <input asp-for="AmountDue" class="form-control" asp-format="{0:#,##0.00#}" />
            <span asp-validation-for="AmountDue" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="DueDate" class="form-label"></label>
            <input asp-for="DueDate" class="form-control" type="date" />
            <span asp-validation-for="DueDate" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Status" class="form-label"></label>
            <select asp-for="Status" class="form-select" asp-items="ViewBag.StatusSelectList"></select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>

        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Save Changes" />

    </form>
}
