@model string
@{
    ViewData["Title"] = "Dollar Tracker";
    Layout = "~/Views/Shared/_LoginRegisterLayoutPage.cshtml";
}


@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @Model
    </div>
}
