@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Dollar Tracker";
    Layout = "~/Views/Shared/_LoginRegisterLayoutPage.cshtml";
}

<header class="dt-header">
    <div class="d-flex align-items-center justify-content-begin dt-header-logo">
        <img class="logo" src="/img/DollarTracker_Logo_no_font.png" alt="Dollar Tracker Logo" />
        <h1 class="fw-bold">DOLLAR<span>TRACKER</span></h1>
    </div>
</header>

<h3><a asp-page="./Login">CLICK HERE</a>to return to the Log In page.</h3>

<partial name="_StatusMessage" model="Model.StatusMessage" />
