@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Dollar Tracker";
    Layout = "~/Views/Shared/_LoginRegisterLayoutPage.cshtml";
}

<header class="dt-header">
    <div class="d-flex align-items-center justify-content-begin dt-header-logo">
        <img class="logo" src="/img/DollarTracker_Logo_no_font.png" alt="Dollar Tracker Logo" />
        <h1 class="fw-bold">DOLLAR<span>TRACKER</span></h1>
    </div>
</header>

<h1>Forgot your Password?</h1>

<h2>Enter your email.</h2>

<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
