@page
@model LogoutModel
@{
    ViewData["Title"] = "Dollar Tracker";
    Layout = "~/Views/Shared/_LoginRegisterLayoutPage.cshtml";
}

<header class="dt-header">
    <div class="d-flex align-items-center justify-content-begin dt-header-logo">
        <img class="logo" src="/img/DollarTracker_Logo_no_font.png" alt="Dollar Tracker Logo" />
        <h1 class="fw-bold">DOLLAR<span>TRACKER</span></h1>
    </div>
</header>
<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
