@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

html {
    font-size: 62.5%;
}

body{
    font-size: 1.3rem;
}

table,p {
    margin: 0 !important;
}

input {
    font-size: 1.5rem !important;
}

main {
    min-height: 100vh;
    background-color: rgb(198, 202, 199);
    letter-spacing: .1rem;
}

.topSpace-sm {
    margin-top: 1.2rem;
}

.topSpace-md {
    margin-top: 2rem;
}

.topSpace-lg {
    margin-top: 4rem;
}

.topSpace-xl {
    margin-top: 8rem;
}

.imgIcon {
    height: 25px;
    width: 25px;
}

.imgRotate180 {
    transform: rotate(180deg);
}

.font {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    color: #333;
}

.title {
    font-size: 3rem;
}

span {
    font-size: 1.5rem;
}

main > .container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}

.totals-container {
    border-radius: 10px;
}

.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

.controls:hover {
    transition: 0.1s ease-in;
    transform: scale(1.2);
}

.controlsIcon--right:hover {
    transform: scale(1.2) rotate(180deg);
}

.iconSize {
    height: 35px;
}

.responsiveChart {
    width: 100%;
}

.row {
    margin: 0 !important;
}

.monthControl_background {
    background-color: #d7d8da;
}

.drop-shadow {
    box-shadow: 2px 2px 10px rgba(119, 119, 119, .3);
}

.controlPanel--leftIcon {
    height: 100px;
}

.nav-tabs {
    background-color: #212529;
}

.nav-tabs .nav-link.active {
    color: #333;
    background-color: #d7d8da;
}

.nav-link {
    color: #eee;
}

.nav-link:hover,
.nav-link:active {
    border: none;
    color: #4c8bf5;
}

.nav-link:link,
.nav-link:active {
    border: none;
}

@media screen and (max-width: 991px) {
    .monthControl_font {
        font-size: 3rem;
        letter-spacing: .2rem;
        margin-top: 1rem;
    }
}

@media screen and (min-width: 991px) {
    .monthControl_font {
        font-size: 1.8vw;
        letter-spacing: .2rem;
    }
}

